body{
    background-color: rgba(255, 68, 0, 0.63);
}
.main-div{
    background-color: blue;
}
.div2{
    background-color: white !important;
}
.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto 10px;
}
.limit-input{
    margin: auto 10px;
}
.btn-cntainer{
    margin-top: 15px;
    display: flex;
    align-self: auto;
    flex-direction: row;
    margin-left: 15px;
    width: 100%;
}